<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="image/image-64x64.svg" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="media-heading">
                                <input type="text" ng-model="judul" class="form-control" placeholder="judul">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" ng-model="isi" placeholder="ketik..."></textarea>
                            </div>
                            <div class="form-group text-right">
                                <input type="file">
                                <button ng-click="publikasi()" class="btn btn-primary">Publikasikan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--close panel-->
            <div ng-repeat="s in posting | orderBy:'-waktu'">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="image/image-64x64.svg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><span ng-bind="s.judul"></span> <small>oleh <span ng-bind="s.user"></span> <span ng-bind="s.waktu"></span></small></h4>
                                <p ng-bind="s.isi"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Close repeat -->
            <!-- panel carousel repeat-->
            <div ng-repeat="d in data">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="image/image-64x64.svg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" ng-bind="d.username"></h4>
                                <div data-interval="5000" container-slide id="carousel-example{{$index}}" indi="{{$index}}" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li slide ng-repeat="kata in d.posting" data-target="#carousel-example{{indiku}}" data-slide-to="{{$index}}" ng-class="{'active':$first}"></li>
                                    </ol>
                                    <!-- Wrapper for slides -->
                                    <div class="row">
                                        <div class="col-xs-offset-3 col-xs-6">
                                            <div class="carousel-inner">
                                                <div class="item" ng-class="{'active':$first}" ng-repeat="conten in d.posting">
                                                    <div class="carousel-content">
                                                        <div>
                                                            <h1 ng-bind="conten.title"></h1>
                                                            <p ng-bind="conten.isi"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Controls -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- close panel carousel -->
        </div>
    </div>
</div>
